.node {
  width: 35px;
  height: 35px;
  border: 1px solid #ADD8E6;
}

.node-start {
  background: url("https://cdn-icons-png.flaticon.com/512/32/32213.png");
  background-repeat: no-repeat;
  background-size: 23px 23px;
  background-position: center;
  
}

.node-end {
  
  background: url("aim-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: center;
}

.isWall {
  background-color: #202A44;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 10%;
  }

  50% {
    background-color: #ffd67f;
  }

  75% {
    transform: scale(1.2);
    background-color: #ffd67f;
  }

  100% {
    transform: scale(1);
    background-color: #ffd67f;
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running ;
}

@keyframes shortestPath {
  0% {
    transform: scale(1);
    background-color: greenyellow;
  }

  50% {
    transform: scale(1.2);
    background-color: aquamarine;
  }

  100% {
    transform: scale(1);
    background-color: #7fffd4;
  }
}