.Wrapper{
  max-width: 80%;
  margin:auto;
}


.rowWrapper{
  display:flex;
}

.heading{  
  padding: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  

}

.grid{
  padding: 30px;
  display: table;
  margin-right: auto;
  margin-left: auto;

}

.button{
  display: table; 
  margin-right: auto;
  margin-left: auto;


}

.btn1 ,.btn2{

  margin: 20px;
  font-family: 'Kanit', sans-serif;
}