.Wrapper{
  max-width: 80%;
  margin:auto;
  background-color: antiquewhite;
}


.rowWrapper{
  display:flex;
}

.heading{  
  padding: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  

}

.grid{
  margin: 30px;
  padding: 30px;
  display: table;
  margin-right: auto;
  margin-left: auto;

}

.btn{
  display: flex;
  margin-right: auto;
  margin-left: auto;

}